@font-face {
    font-family: 'BIZ UDPGothic';
    src: url('BIZUDPGothic-Regular.eot');
    src: local('BIZ UDPGothic'), local('BIZUDPGothic-Regular'),
        url('BIZUDPGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('BIZUDPGothic-Regular.woff2') format('woff2'),
        url('BIZUDPGothic-Regular.woff') format('woff'),
        url('BIZUDPGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BIZ UDPGothic';
    src: url('BIZUDPGothic-Bold.eot');
    src: local('BIZ UDPGothic Bold'), local('BIZUDPGothic-Bold'),
        url('BIZUDPGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('BIZUDPGothic-Bold.woff2') format('woff2'),
        url('BIZUDPGothic-Bold.woff') format('woff'),
        url('BIZUDPGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

